* {
  box-sizing: border-box;
}
html {
  background: url(https://www.ecopetit.cat/wpic/mpic/140-1407897_silicon-wafer-close-up.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html::after {
  background-color: #000000;
  content: "";
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400%;
  z-index: -1;
  opacity: 0.45;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 8px;
  border: 5px solid silver;
  border-radius: 20px;
  color: silver;
  width: 320px;
  height: auto;
  background-color: royalblue;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid silver;
  border-radius: 20px;
  margin-top: 30px;
  width: fit-content;
  height: fit-content;
  background-color: royalblue;
}

.StartDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.StartForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.StartForm #filter,
#addNew {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: auto;
  font-size: 18px;
  padding: 5px;
  border: 2px solid lawngreen;
  border-radius: 20px;
  background-color: royalblue;
  color: lawngreen;
}

.ADDFORM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid silver;
  border-radius: 20px;
  background-color: royalblue;
  color: lawngreen;
  width: 280px;
  height: fit-content;
  padding: 20px;
  margin: 42px;
}
.editBoomarkForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid silver;
  border-radius: 20px;
  background-color: royalblue;
  color: lawngreen;
  width: 280px;
  height: fit-content;
  padding: 20px;
  margin: 42px;
}
label {
  font-size: 24px;
  color: silver;
  margin-bottom: 15px;
}
.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
  border-radius: 5px;
}
.cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
  border-radius: 5px;
}
.edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
  border-radius: 5px;
}
.delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
  border-radius: 5px;
}
.bookmark #expand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
  border-radius: 5px;
}
.bookmark .expanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bookmark #compress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 200px;
  height: auto;
  border: 2px solid lawngreen;
  background-color: lightseagreen;
  font-weight: 900;
  color: rgb(79, 33, 110);
  border-radius: 5px;
}
.bookmark .compressed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
fieldset {
  border: none;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin: 10px;
}
/* .rate-area {
  display: flex;
  flex-direction: row-reverse;
  border: none;
} */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
  border: none;
}
.rating:not(:checked) > label {
  display: flex;
  width: 50px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.2;
  color: lightblue;
  border: none;
}
.rating:not(:checked) > label:before {
  content: "★";
  border: none;
}
.rating > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 150% !important;
  border: none;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  border: none;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
  border: none;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
  border: none;
}
span .star {
  content: "★";
  border: none;
}
span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin: 10px;
}
.rate-area {
  display: flex;
  flex-direction: row-reverse;
  border: none;
}
.rate-area:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
  border: none;
}
.rate-area:not(:checked) > label {
  display: flex;
  width: 50px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 150%;
  line-height: 1.2;
  color: lightblue;
  border: none;
}
.rate-area:not(:checked) > label:before {
  content: "★";
  border: none;
}
.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 150% !important;
  border: none;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
  color: gold;
  border: none;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
  border: none;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
  border: none;
}
.fa-star {
  display: inline-block;
  font-size: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: lightgray;
}
.checked {
  color: gold;
}
a {
  color: rgb(223, 190, 3);
}
.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid silver;
  border-radius: 20px;
  background-color: royalblue;
  color: silver;
  width: 280px;
  height: fit-content;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 24px;
}
.display-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 20px;
    background-color: royalblue;
    color: silver;
    width: 400px;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 24px;
  }
  .ADDFORM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 20px;
    background-color: royalblue;
    color: lawngreen;
    width: 400px;
    height: fit-content;
    padding: 20px;
    margin: 42px;
  }
  .editBoomarkForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 20px;
    background-color: royalblue;
    color: lawngreen;
    width: 400px;
    height: fit-content;
    padding: 20px;
    margin: 42px;
  }
}
@media screen and (min-width: 1024px) {
  .bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 20px;
    background-color: royalblue;
    color: silver;
    width: 700px;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 24px;
  }
  .ADDFORM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 20px;
    background-color: royalblue;
    color: lawngreen;
    width: 700px;
    height: fit-content;
    padding: 20px;
    margin: 42px;
  }
  .editBoomarkForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    border-radius: 20px;
    background-color: royalblue;
    color: lawngreen;
    width: 700px;
    height: fit-content;
    padding: 20px;
    margin: 42px;
  }
}
